.links {
    list-style-type: none;
    display: inline-block;
    margin: 20px 20px;
    padding: 10px 0;
    /* margin: 50px 30px;
    padding: 30px 40px; */
   /*  max-width: 60%; */
}

.list-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact {
    display: flex;
    justify-content: center;
}

.name {
    background: repeating-linear-gradient(53.01deg, #26b3bd 0%, #11cccc 100%); 
    background-repeat: repeat-y;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}