.container {
    display: flex;
    /* margin-top: 20px; */
    background-color: #f1f1f1;
    box-shadow: 10px 15px #26b3bd;
    width: 560px;
    margin: 0 auto;
    /* flex-direction: column; */
}
.content {
    /*  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: justify; */
    padding: 1rem;
    box-shadow: 5px 8px #11cccc;
    line-height: 2em;
    width: 560px;
    /* display: flex;
  justify-content: space-between; */
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }
    .content {
        width: 100%;
    }
}
