/* .footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 0;
  padding: 0;
}
 */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4;
  color: #000;
  text-align: center;
}
