.layout {
  /* margin: 0; */
  padding: 0;
}

.content {
  padding: 2rem;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  line-height: 1.6em;
}
body {
  margin: 0;
}
h1 {
  font-family: "Nanum Gothic";
}

