.container {
    box-sizing: border-box;
    padding-bottom: 4rem;
    margin: 0px auto;
    position: relative;
    padding: 0 auto;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 40px auto;
    padding: 8vh;
}

@media screen and (max-width: 600px) {
    .content {
        padding: 2rem;
    }
}
