.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #f3f3f3;
  padding: 2rem;
}
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-links-items {
  padding-right: 2rem;
}
.nav-links-texts {
  text-decoration: none;
}
