.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #49b3b3;
    padding: 1.5rem;
    font-family: 'Open Sans';
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    font-size: 1.1rem;
    position: sticky;
}
.nav-links {
    display: flex;
    list-style: none;
    line-height: 1.6;
    padding-left: 0;
}
.nav-links-items {
    padding-right: 1rem;
}
.nav-links-texts {
    text-decoration: none;
    color: #000;
    padding: 10px;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.nav-links-texts:hover,
.nav-links-texts:focus {
    border-bottom: 2px solid transparent;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
    }
    .nav-links {
        padding-top: 1rem;
    }
}
