.visit {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 1rem;
    font-weight: bold;
}

.visit:hover {
    text-decoration: underline;
}
.list-portfolio {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.title {
    text-align: center;
    padding: 7px;
}

.description {
    text-align: justify;
}

hr {
    border: 1px solid #26b3bd;
}
